/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap";
@import "mixins.less";
@import "variables.less";

.navbar {
   height: 71px;
   margin-bottom: 0;
   border: 0 none;
}

.navbar-brand {
   background: url(../img/logo.png) no-repeat left top;
   -webkit-background-size: cover;
   background-size: cover;
   width: 168px;
   height: 37px;
   margin-top: 17px;
   margin-bottom: 17px;

   @media screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(../img/logo@2x.png);
   }
}

.navbar-nav {
   float: right;

   > li {
      > a {
         padding: 25px 20px;
         text-transform: uppercase;

         &:hover,
         &.active {
            font-weight: bold;

            .navbar-default & {
               background: @gray-lighter;
            }
         }
      }
   }
}

// Content
.content { }

// Featured Image Styling

.featured-image {
   position: relative;
   height: 500px;
   overflow: hidden;

   .background {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      max-width: 100%;
      z-index: 0;
   }
   
   .content {
      display: block;
      height: 100%;
      width: 100%;
   }
   .header-content-wrap {
      position: relative;
      z-index: 10;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
   }
   .header-content {
      text-align: center;
      vertical-align: middle;
   }

   .table {
      display: table;
   }
   .cell {
      display: table-cell;
   }

   .page-logo {
      height: 100%;
      text-align: center;
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      img {
         max-width: 100%;
         height: auto;
      }
   }
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
